testing-env/testing.json
[{"id":"37a375952103c218","type":"tab","label":"流程1","disabled":false,"info":"","env":[]},{"id":"99a881613595c763","type":"inject","z":"37a375952103c218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":280,"wires":[["2c2390fde699d87c"]]},{"id":"e1e7b47cb602d468","type":"Flow Control","z":"37a375952103c218","name":"Break","targetNodeId":"","selectMode":"auto","selectedNodes":[],"action":"break","x":970,"y":260,"wires":[]},{"id":"2c2390fde699d87c","type":"Test Source","z":"37a375952103c218","name":"","messages":"10","x":510,"y":280,"wires":[["eb0c55ae97d12428","3a3f994c3a192c69"]]},{"id":"eb0c55ae97d12428","type":"debug","z":"37a375952103c218","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":220,"wires":[]},{"id":"3a3f994c3a192c69","type":"switch","z":"37a375952103c218","name":"Break at Message 7","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Message 7","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":280,"wires":[["e1e7b47cb602d468"],["0e8946d1b0095724"]]},{"id":"0e8946d1b0095724","type":"Flow Control","z":"37a375952103c218","name":"Continue","targetNodeId":"","selectMode":"auto","selectedNodes":[],"action":"continue","x":980,"y":300,"wires":[]}]